.col-lg-6.col-md-6.col-sm-6
  // - tokke Red
  .card.card-1.shadow_price
    .card__image
      img(alt='Pic', src=boxTokke.imageBackground)
    .card__body.boxed.bg--white
      .card__title
        h4 #{boxTokke.defaultFunction}
        div
          h5
            | #{boxTokke.kindFunction}
            h5
      p.short_margin
        | #{boxTokke.txtToSell}
      .modal-instance
        // MODAL INSTANCE
        a#border-radius-active-1.btn.modal-trigger.btn-success.btn-block(href='#')
          // BUTTON
          span.btn__text.text-center
            | Configurar para llamada
        .modal-container
          // modal container
          .modal-content(class='data-width=', data-height='90%', height--natural='')
            // modal content
            .boxed.boxed--lg.bg--white.box-shadow-wide.gray-background
              .subscribe__title.text-center
                .header-config
                  .modal-close.modal-close-cross
                  .square-litle
                    img#boxTokke-modal(src=boxTokke.imageLow)
                  h3 #{boxTokke.name}: Configurador de Llamada
              form
                p.second_action 1º ¿Dónde quieres llamar?
                #QuestionD.input-with-icon.dropdown
                  select
                    option.text-center(selected='', disabled='')  SELECCIONA AQUÍ DÓNDE LLAMAR  &darr;
                    option(value='112_call') LLAMADA DE URGENCIA (ej.112)
                    option(value='contact_call') LLAMADA A UN CONTACTO
                    option(value='police_call') LLAMADA A LA POLICIA
                    option(value='firemans_call') LLAMADA A LOS BOMBEROS
                    option(value='hospital_call') LLAMADA AL HOSPITAL
                    option(value='gender_violence') SOS VIOLENCIA DE GENERO
                  .input-with-icon
                    p 2º ¿Desde qué teléfono se llamará?
                    label(for='origin-phone')
                    i.icon-Phone-Wifi
                    input#origin-phone.tokke-message(name='origin-phone', type='tel', pattern='[0-9]{9}', required='', placeholder='Escribe aquí el número de teléfono de origen')
                  .input-with-icon
                    p 3º ¿A qué número de teléfono se llamará?
                    label(for='destination-phone')
                    i.icon-Smartphone-4
                    input#destination-phone(name='destination-phone', type='tel', pattern='[0-9]{9}', required='', placeholder='Escribe aquí el número el teléfono de destino')
                  .text-center
                    p.text-left 4º Guarda para seguir configurando todos los Tøkkes que desees pre-ordenar.
                    #config_button.text-center.top.btn-block.modal-close
                      button#config_button_1.btn.btn-danger.btn-lg(type='button')  Cancelar
                      button#config_button_3.btn.btn-primary.btn-lg(type='button', href='#')  guardar
      .modal-instance
        // MODAL INSTANCE
        a#config_button0.btn.modal-trigger.btn-info.btn-block(href='#')
          // BUTTON
          span.btn__text
            | Configurar para Mensaje
        // modal container
        .modal-container
          // modal content
          .modal-content(class='data-width=', data-height='97%', height--natural='')
            // modal content
            .boxed.boxed--lg.bg--white.box-shadow-wide.gray-background
              .subscribe__title.text-center
                .header-config
                  .modal-close.modal-close-cross
                  .square-litle
                    img#tokke-modal-2(src=boxTokke.imageLow)
                  h3 #{boxTokke.name}: Configurador de Mensaje
              form
                p.second_action 1º ¿Qué tipo de mensaje quieres enviar?
                #QuestionD.input-with-icon.dropdown
                  select#QuestionOptionsTwo
                    option.text-center(selected='', disabled='')  SELECCIONA UN TIPO DE MENSAJE  &darr;
                    option(value='contact_sms') SMS A UN CONTACTO
                    option(value='contact_whatsapp') WHATSAPP A UN CONTACTO
                  .input-with-icon
                    p 2º ¿Desde qué número se enviará el mensaje?
                    label(for='origin-phone')
                    i.icon-Phone-Wifi
                    input#origin-msg-phone.tokke-message(name='origin-msg-phone', type='tel', pattern='[0-9]{9}', required='', placeholder='Escribe aquí el número del teléfono de origen')
                  .input-with-icon
                    p 3º ¿A qué teléfono se enviará el mensaje
                    label(for='destination-phone')
                    i.icon-Smartphone-4
                    input#destination-msg-phone(name='destination-msg-phone', type='tel', required='', placeholder='Escribe el teléfono de destino')
                  .input-with-icon
                    p 4º ¿Cuál es el mensaje que deseas enviar?
                    label(for='message-to-send')
                    i.icon.normal-text
                    textarea#message-to-send.validate-required(maxlength='140', x4='', name='message-to-send', type='text', required='', placeholder='Mensaje a enviar. Máximo 160 caracteres contando espacios.')
                  .text-center
                    p.text-left 6º Guarda y sigue configurando tus Tøkkes.
                    #config_button.text-center.top.btn-block.modal-close
                      button#config_button_1.btn.btn-danger.btn-lg(type='button')  Cancelar
                      button#config_button_3.btn.btn-primary.btn-lg(type='button', href='#')  guardar
        #config_button.text-center.top.btn-block
  // card
// end tokke red
