.col-lg-4.col-md-6.col-sm-6
  // - tokke Red
  .card.card-1.shadow_price
    .card__image
      img(alt='Pic', src=tokke.imageBackground)
    .card__body.boxed.bg--white
      .card__title
        h4 #{tokke.defaultFunction}
        div
          h5
            | #{tokke.kindFunction}
            h5
      p.short_margin
        | #{tokke.txtToSell}
      .modal-instance
        // MODAL INSTANCE
        a#border-radius-active-1.btn.modal-trigger.btn-success.btn-block(href='#')
          // BUTTON
          span.btn__text.text-center
            | Configurar para llamada
        .modal-container
          // modal container
          .modal-content(class='data-width=', data-height='90%', height--natural='')
            // modal content
            .boxed.boxed--lg.bg--white.box-shadow-wide.gray-background
              .subscribe__title.text-center
                .header-config
                  .modal-close.modal-close-cross
                  .square-litle
                    img#tokke-modal(src=tokke.imageLow)
                  h3 #{tokke.name}: Configurador de Llamada
              form(action="/tokkes", method="POST", id=tokke.name)
                p.second_action 1º ¿Dónde quieres llamar?
                #QuestionD.input-with-icon.dropdown
                  input(name="id", value=tokke.id, type="hidden")
                  input(name="name", value=tokke.name, type="hidden")
                  input(name="price", value=tokke.price, type="hidden")
                  input(name="actionType", value='make a call', type="hidden")
                  select(naem="select", required='', title='Debes seleccionar una opción.')
                    option.text-center(selected='', disabled='')  SELECCIONA AQUÍ DÓNDE LLAMAR  &darr;
                    option(name='112_call', value='112_call') LLAMADA DE URGENCIA (ej.112)
                    option(name='contact_call', value='contact_call') LLAMADA A UN CONTACTO
                    option(name='police_call', value='police_call') LLAMADA A LA POLICIA
                    option(name='firemans_call', value='firemans_call') LLAMADA A LOS BOMBEROS
                    option(name='hospital_call', value='hospital_call') LLAMADA AL HOSPITAL
                    option(name='gender_violence', value='gender_violence') SOS VIOLENCIA DE GENERO
                  .input-with-icon
                    p 2º ¿Desde qué teléfono se llamará?
                    label(for='originPhone')
                    i.icon-Phone-Wifi
                    input#originPhone.tokke-message(name='originPhone', type='tel', pattern='[0-9]{9}', required='', title='El formato debe coincidir con 9 números.', placeholder='Escribe aquí los 9 números del teléfono de origen')
                  .input-with-icon
                    p 3º ¿A qué número de teléfono se llamará?
                    label(for='destinyPhone')
                    i.icon-Smartphone-4
                    input#destinyPhone(name='destinyPhone', type='tel', pattern='[0-9]{9}', required='', title='El formato debe coincidir con 9 números.', placeholder='Escribe aquí los 9 números del teléfono de destino')
                  .text-center
                    p.text-left 4º Guarda para seguir configurando todos los Tøkkes que desees pre-ordenar.
                    #config_button.text-center.top.btn-block
                      button#config_button_1.btn.btn-danger.btn-lg.modal-close(type='button')  Cancelar
                      button#config_button_3.btn.btn-primary.btn-lg.modal-close(type='submit')  Guardar
      .modal-instance
        // MODAL INSTANCE
        a#config_button0.btn.modal-trigger.btn-info.btn-block(href='#')
          // BUTTON
          span.btn__text
            | Configurar para Mensaje
        // modal container
        .modal-container
          // modal content
          .modal-content(class='data-width=', data-height='97%', height--natural='')
            // modal content
            .boxed.boxed--lg.bg--white.box-shadow-wide.gray-background
              .subscribe__title.text-center
                .header-config
                  .modal-close.modal-close-cross
                  .square-litle
                    img#tokke-modal-2(src=tokke.imageLow)
                  h3 #{tokke.name}: Configurador de Mensaje
              form(action="/tokkes", method="POST", id=tokke._id)
                p.second_action 1º ¿Qué tipo de mensaje quieres enviar?
                #QuestionD.input-with-icon.dropdown
                  input(name="id", value=tokke.id, type="hidden")
                  input(name="name", value=tokke.name, type="hidden")
                  input(name="price", value=tokke.price, type="hidden")
                  input(name="actionType", value='send a message', type="hidden")
                  select#QuestionOptionsTwo(required='', title='Debes seleccionar una opción.')
                    option.text-center(selected='', disabled='')  SELECCIONA UN TIPO DE MENSAJE  &darr;
                    option(value='contact_sms') SMS A UN CONTACTO
                    option(value='contact_whatsapp') WHATSAPP A UN CONTACTO
                  .input-with-icon
                    p 2º ¿Desde qué número se enviará el mensaje?
                    label(for='originMsgPhone')
                    i.icon-Phone-Wifi
                    input#originMsgPhone.tokke-message(name='originMsgPhone', type='tel', pattern='[0-9]{9}', required='', title='El formato debe coincidir con 9 números.', placeholder='Escribe aquí el número del teléfono de origen')
                  .input-with-icon
                    p 3º ¿A qué teléfono se enviará el mensaje
                    label(for='destinyPhone')
                    i.icon-Smartphone-4
                    input#destinyPhone(name='destinyPhone', type='tel', required='', title='El formato debe coincidir con 9 números.', placeholder='Escribe el teléfono de destino')
                  .input-with-icon
                    p 4º ¿Cuál es el mensaje que deseas enviar?
                    label(for='messageTxt')
                    i.icon.normal-text
                    textarea#messageTxt.validate-required(maxlength='140', x4='', name='messageTxt', type='text', required='', title='El texto es obligatorio y debe contener un máximo de 160 caracteres incluídos espacios.', placeholder='Mensaje a enviar. Máximo 160 caracteres contando espacios.')
                  .text-center
                    p.text-left 6º Guarda y sigue configurando tus Tøkkes.
                    #config_button.text-center.top.btn-block
                      button#config_button_1.btn.btn-danger.btn-lg.modal-close(type='button')  Cancelar
                      button#config_button_3.btn.btn-primary.btn-lg.modal-close(type='submit')  guardar
        #config_button.text-center.top.btn-block
          button#config_button_1.btn.btn-danger.btn-lg.list-tokkes.remove(type='button', onsubmit='')  eliminar
          button#config_button_2.btn.btn-primary.btn-lg(type='button')  duplicar
  // card
// end tokke red
